.PopUpCont {
  background: #fff;
  width: 24rem;
  max-width: 90%;
  padding: 13px;
  border-radius: 1rem;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
  position: relative;
  text-align: center;
  animation: fadeInScale 0.3s ease-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.PopUpCont>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.viewDownload{
    display: flex;
    justify-content: space-between;
    padding: 13px;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}


.popupImage {
  width: 10rem;
  height: 13rem;
  object-fit: cover;
  border-radius: 13px;
  border: 3px solid #e5e7eb;
  margin-bottom: 1rem;
}

.heading{
    text-transform: uppercase;
    padding: 10px;
}

.inputCont{
    display: flex;
    justify-content: space-evenly;
}

.inputCont>input{
    width: 50%;
    border: 1px solid black;
    border-radius: 9px;
    padding: 3px;
    cursor: pointer;
}

.inputCont>button{
    width: 40%;
}

.close{
    padding: 3px;
    border: 1px solid black;
    margin: 7px;
    width: 9rem;
    border-radius: 9px;
    cursor: pointer ;
}